@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Support:</strong>   <a href="mailto:kamad.soufiane@gmail.com">kamad.soufiane@gmail.com</a><br />
    <strong>Téléphone:</strong>+33 777 46 19 05<br />
</address>