@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Yourlake</h1>
    <p class="lead">Yourlake vous permet de regarder les informations environnementales des lacs et des rivières de la Corse.</p>
    <p><a href="http://localhost:29009/Donnees" class="btn btn-primary btn-lg">Restonica &raquo;</a></p>
    <p><a href="http://localhost:29009/Regions" class="btn btn-primary btn-lg">Regions &raquo;</a></p>
</div>

<div class="row">
    
</div>